:root {
    --amarillo: #feb406;
    --amarillo-claro: rgb(253, 201, 15);
    --gris-claro: #a9a9a9;
    --gris-oscuro: #1a1a1a;
    --blanco: #FFFFFF;
    --negro: #000000;
    --fuente-principal: 'Poppins', sans-serif;
}

body {
    font-family: var(--fuente-principal);
}

.cabecera-principal {
    background-image: url(../imagenes/cabecera/IMG-20220427-WA0029.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center; 
    background-position-y: center;
    background-attachment: fixed;
}

.contenedor-de-la-cabecera-principal {
    background-color: #00000080;
    height: 100vh;
}

.contenedor-de-la-cabecera-principal .titular-de-la-cabecera-principal {
    margin-bottom: 25px;
}

.contenedor-de-la-cabecera-principal .titular-de-la-cabecera-principal .subtitulo {
    color: var(--amarillo);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}

.contenedor-de-la-cabecera-principal .titular-de-la-cabecera-principal .subtitulo::before {
    content: "—";
    margin-right: 10px;
}

.contenedor-de-la-cabecera-principal .titular-de-la-cabecera-principal .titulo {
    color: var(--blanco);
    font-size: 48px;
    line-height: 1.2;
    font-weight: 600;
}

.contenedor-de-la-cabecera-principal .servicio-principal .caja-del-encabezado {
    font-size: 24px;
    font-weight: 500;
}

.contenedor-de-la-cabecera-principal .servicio-principal .caja-del-encabezado .icono {
    width: 30px;
    height: 30px;
    color: var(--gris-claro);
    margin-right: 5px;
}

.contenedor-de-la-cabecera-principal .servicio-principal .caja-del-encabezado .nombre {
    color: var(--blanco);
}

.contenedor-de-la-cabecera-principal .servicio-principal .caja-del-encabezado .nombre .palabra-destacada {
    color: var(--amarillo);
    font-weight: 600;
}

.contenedor-de-la-cabecera-principal .servicio-principal .descripcion {
    color: var(--gris-claro);
    text-align: justify;
    font-size: 14px;
    margin-top: 10px;
    padding-right: 20px;
}

.contenedor-de-la-cabecera-principal .caja-de-los-botones-de-accion {
    margin-top: 15px;
}

.contenedor-de-la-cabecera-principal .caja-de-los-botones-de-accion .boton-de-contacto {
    color: var(--amarillo);
    font-size: 16px;
    font-weight: 500;
    border-width: 2px;
    border-style: solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.contenedor-de-la-cabecera-principal .caja-de-los-botones-de-accion .boton-de-contacto:hover {
    color: var(--amarillo-claro);
    border-color: var(--amarillo-claro);
}

.acerca-de-nosotros {
    background-color: var(--negro);
}

.acerca-de-nosotros .caja-de-imagen-de-la-columna img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.acerca-de-nosotros .caja-de-acerca-de-nosotros .subtitulo {
    color: var(--amarillo);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;    
}

.acerca-de-nosotros .caja-de-acerca-de-nosotros .subtitulo::before {
    content: "—";
    margin-right: 10px;
}

.acerca-de-nosotros .caja-de-acerca-de-nosotros .titulo {
    color: var(--blanco);
    font-size: 22px;
    line-height: 1.3;
    font-weight: 600;
}

.acerca-de-nosotros .caja-de-acerca-de-nosotros .descripcion {
    color: var(--gris-claro);
    text-align: justify;
    font-size: 14px;
    margin-top: 15px;
}

.acerca-de-nosotros .caja-de-acerca-de-nosotros .metrica-destacada {
    margin-bottom: 15px;
}

.acerca-de-nosotros .caja-de-acerca-de-nosotros .metrica-destacada .icono {
    color: var(--gris-claro);
    height: 45px;
    width: 45px;
}

.acerca-de-nosotros .caja-de-acerca-de-nosotros .metrica-destacada .caja-de-texto {
    margin-left: 15px;
}

.acerca-de-nosotros .caja-de-acerca-de-nosotros .metrica-destacada .caja-de-texto .numero {
    color: var(--blanco);
    font-size: 42px;
    line-height: 1.2;
    font-weight: 600;
}

.acerca-de-nosotros .caja-de-acerca-de-nosotros .metrica-destacada .caja-de-texto .texto {
    color: var(--amarillo);
    font-size: 16px;
    font-weight: 600;
}

.portafolio {
    background-color: var(--negro);
    padding-top: 1px;
    padding-bottom: 100px;
}

.portafolio .caja-del-encabezado {
    margin-top: 50px;
    margin-bottom: 20px;
}

.portafolio .caja-del-encabezado .subtitulo {
    color: var(--amarillo);
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}

.portafolio .caja-del-encabezado .titulo {
    color: var(--blanco);
    font-size: 36px;
    line-height: 1.3;
    font-weight: 600;
}

.portafolio .caja-del-menu-en-pestañas .nav {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 70%;
}

.portafolio .caja-del-menu-en-pestañas .nav .nav-link {
    color: var(--gris-claro);
    background-color: unset;
    font-size: 16px;
    font-weight: 600;
    border-style: solid;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 2px;
    border-color: var(--negro);
}

.portafolio .caja-del-menu-en-pestañas .nav .nav-link:hover {
    color: var(--blanco);
    border-color: var(--amarillo);
}

.portafolio .caja-del-menu-en-pestañas .tab-pane {
    height: 500px;
    width: 800px;
}

footer {
    background-color: var(--gris-oscuro);
    padding-top: 50px;
    padding-bottom: 30px;
}

footer .titulo {
    color: var(--blanco);
    font-size: 22px;
    font-weight: 500;
}

footer p {
    color: var(--gris-claro);
    font-size: 14px;
    margin-top: 30px;
    text-align: justify;
}

footer .opciones-de-contacto {
    margin-top: 30px;
    font-size: 16px;
    color: var(--gris-claro);
    list-style: none;
}

footer .opciones-de-contacto li {
    margin-bottom: 15px;
}

footer .opciones-de-contacto .icono {
    margin-right: 10px;
    height: 16px;
    width: 16px;
    color: var(--amarillo);
}

footer .redes-sociales {
    margin-top: 30px;
}

footer .redes-sociales .red-social {
    margin-right: 10px;
    background-color: var(--gris-claro);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
}

footer .redes-sociales .red-social .icono {
    height: 16px;
    width: 16px;
    color: var(--gris-oscuro);
}



/* estilos temporales */
      .swiper {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }

      .swiper-slide img {
        display: block;
        background-color: #0d0d0d;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .SwiperTabNav {
        height: 20%;
        box-sizing: border-box;
        padding: 10px 0;
      }

      .SwiperTabNav .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
      }

      .SwiperTabNav .swiper-slide-thumb-active {
        opacity: 1;
      }

      .SwipperTabMain {
        height: 80%;
        width: 100%;
      }